/* high level declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --gray: rgb(182,195,212);
    --lightblue: rgb(90,149,196);
    --darkblue: rgb(18,71,115)
}
body {
    font-family: Helvetica, Arial,  sans-serif;
    background-color: var(--gray);
}
/* header styling */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--lightblue);
    padding-top: 5px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--darkblue);
    margin-top: 3px;
    margin-left: 5px;
    padding: 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(182,195,212,.75);
}
header a {
    text-decoration: none;
    color: var(--darkblue);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 32px;
}
/* end header styling */

/* hero styling */
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h2 {
    margin: 20px;
    font-size: 4vw;
    color: var(--darkblue);
    background-color: rgba(182,195,212,.75);
    padding: 10px;
}
/* end hero styling */

/* main section styling */
main section {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
}
main section h2 {
    color: var(--darkblue);
    font-size: 50px;
    text-align: right;
    width: 20%;
    padding-right: 10px;
    padding-bottom: 15vh;
    border-right: solid 3px var(--darkblue);

    margin-right: 25px;
    justify-self: flex-start;

}
/* end main section styling */

/* about me styling*/
.about div {
    line-height: 1.5;
    width: 65%;
    font-size: 18px;
    color: var(--darkblue);
}
/* end about me styling */

/* My Work styling */
.work a {
    text-decoration: none;
    color: var(--darkblue);
}

.grid-wrapper {
display: flex;
width: 70%;
justify-content: center;
padding-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 80%;
}

.grid-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: solid black 3px;
    align-items: flex-end;
    background-color: red;
    margin-right: 10vh;
    margin-bottom: 10vh;
}

.work-1 {
    grid-row: span 2;
    grid-column: span 2;
}



